.categories {
  margin: 0 12.5%;
  position: relative;
  top: 120px;
  transition: all 0.5s, ease, linear 0.5s;
  transform: translateY(-220px);
  height: 0px;
  &.cat-open {
    transform: unset;
    height: 222px;
  }
  &__container {
    display: flex;
    justify-content: space-around;
    transition-delay: 1s;
    transition: all 1s, ease, linear 1s;
    padding: 20px 0;
  }
  &__card {
    display: flex;
    width: 120px;
    height: 180px;
    justify-content: center;
    flex-wrap: wrap;
    // width: 50px;
    border: 1px $silver solid;
    border-radius: 10px;
    background: $alabaster;
    transition: all 0.2s, ease, linear 0.2s;
    &:hover {
      transform: translate(0px, -10px);
      border: 2px solid $mercury;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    }
    &.cat-open {
    }
    &-img {
      width: 50px;
      margin-bottom: 30px;
    }
    &-title {
      text-align: center;
      width: 100%;
    }
  }
}
