@font-face {
  font-family: "NunitoRegular";
  src: url(../assets/fonts/Nunito/Nunito-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "NunitoSemi";
  src: url(../assets/fonts/Nunito/Nunito-SemiBold.ttf);
  font-style: normal;
}
@font-face {
  font-family: "NunitoBold";
  src: url(../assets/fonts/Nunito/Nunito-Bold.ttf);
  font-style: normal;
}

@font-face {
  font-family: "JosefinRegular";
  src: url(../assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "JosefinSemi";
  src: url(../assets/fonts/Josefin_Sans/JosefinSans-SemiBold.ttf);
  font-style: normal;
}
@font-face {
  font-family: "JosefinBold";
  src: url(../assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf);
  font-style: normal;
}

p {
  font-size: 24px;
}
