.header * {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  //   justify-content: space-between;
  margin: 0 12.5%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }

  &-logo {
    font-size: 30px;
    margin-right: auto;
  }

  &__dropdown {
    position: relative;
    &-title {
      &:hover {
        text-decoration: none;
      }
    }

    &-icon {
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 5px;
      &-bar1,
      &-bar2,
      &-bar3 {
        width: 20px;
        height: 3px;
        background-color: #333;
        &:nth-child(2) {
          margin: 5px 0;
        }
      }
    }
    &-content.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: -25px;
      border: 1px solid $mercury;
      background: $alabaster;
      width: 150px;
      padding: 15px;
    }

    &-content.closed {
      display: none;
    }
    &-title {
    }
    &-link {
      width: 100%;
    }
  }
  &-search {
    width: 40%;
    border: 1px solid $mercury;
    border-radius: 20px;
    padding: 8px 20px 8px 40px;
    background-image: url("../assets/icons/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: $alabaster;
    margin: 0 5%;
  }
  &__nav {
    width: 15%;
    margin-left: auto;
    &-list {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
    }
    &-item {
    }
  }
}
