.hero {
  margin: 50px 12.5%;
  &__container {
    display: flex;
    border-radius: 20px;
    z-index: -1;
    background: #add8e6;
    height: 400px;
    width: 100%;
    padding: 20px;

    &-img {
      z-index: 1;
    }
    &-search {
      width: 290px;
      height: 40px;
      border: 1px solid $mercury;
      border-radius: 20px;
      padding: 8px 20px 8px 40px;
      background-image: url("../assets/icons/search.svg");
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: 15px;
      background-color: $alabaster;
      position: absolute;
      margin-top: 45px;
      transition: all 1s;
      transition-delay: 5s;
    }
    &-contain {
      transition: all 2s;
      position: absolute;
      left: 25%;
    }
    &-title {
      font-size: 36px;
      transition: all 1s;
      transition-delay: 3s;
    }
    &-subtitle {
      margin-top: 15px;
      transition: all 1s;
      transition-delay: 4s;
    }
  }
}
