.hero {
  padding: 50px 12.5% 0 12.5%;
  height: 100vh;
  margin-top: 100px;
  &__container {
    display: flex;
    border-radius: 20px;
    z-index: -1;
    background: #add8e6;
    height: 600px;
    width: 100%;
    padding: 20px;

    &-img {
      z-index: 1;
    }
    &-button {
      width: 290px;
      padding: 10px 0;
      border: none;
      border-radius: 20px;
      background: $dark;
      position: absolute;
      margin-top: 45px;
      transition: all 1s;
      transition-delay: 5s;
      color: white;
      font-size: 26px;
      text-align: center;
    }
    &-contain {
      transition: all 2s;
      position: relative;
      top: 150px;
      left: 15%;
    }
    &-title {
      font-size: 36px;
      transition: all 1s;
      transition-delay: 3s;
    }
    &-subtitle {
      margin-top: 15px;
      transition: all 1s;
      transition-delay: 4s;
    }
  }
}
